doctype html
html
    head
        title 隨便買好車網
        meta(charset="utf8")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
        script(src="https://unpkg.com/vue/dist/vue.js")
        
        link(href="{{ url_for('static', filename='css/main.css') }}", rel="stylesheet")
    body
        nav.navbar.navbar-toggleable-md.navbar-inverse.bg-primary
            button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            a.navbar-brand(href="#") 隨便買好車網
            .collapse.navbar-collapse#navbarColor01
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href="#") 首頁
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href="#") 中古車
                    li.nav-item
                        a.nav-link(href="#") 關於
                form.form-inline
                    input.form-control.mr-sm-2(type="text" placeholder="Search")
                    button.btn.btn-secondary.my-2.my-sm-0(type="submit") Search

        .jumbotron
            h1.display-3 歡迎來到隨便買好車網
            p 這是一個可以讓你隨便買都是市場最低價的賣車網.讓你買的安心又開心
            p
                a.btn.btn-primary.btn-lg(href="#") 更多關於我們
        
        blockquote.blockquote
            p 熱門車款
            footer.blockquote-footer 過了這個村 就沒
                cite(title="Source Title") 這個店了
        
        table.table.table-striped.table-hover.table-bordered#app
            thead.thead-inverse
                tr
                    th #
                    th Column heading
                    th Column heading
                    th Column heading
            tbody
                tr
                    td 1
                    td Column content
                    td Column content
                    td Column content
                tr
                    td 2
                    td Column content
                    td Column content
                    td Column content
                tr(v-for="car in cars")
                    td <% car.id %>
                    td <% car.brand %>
                    td <% car.name %>
                    td <% car.shift %>
        
        nav(aria-label="Page navigation example")
            ul.pagination.justify-content-center
                li.page-item.disabled
                    a.page-link(href="#" tabindex="-1") Previous
                li.page-item
                    a.page-link(href="#") 1
                li.page-item
                    a.page-link(href="#") 2
                li.page-item
                    a.page-link(href="#") 3
                li.page-item 
                    a.page-link(href="#") Next
        
        script(src="{{ url_for('static', filename='js/main.js') }}")